{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container-fluid about-me">
    
    <div class="about-information">
        <p>Ever <strong class="red-colour"> lost </strong> your dosage and don't know how much to take? Have you been sick but can't figure out which medicine to take?</p> 
        <p>This website was created to make it easier to quickly search medicines, including their dosages, uses, and side effects, all in one place.</p> 
        <p>Finding medication information might be difficult so it is designed for convenience and accessibility, helping you navigate medical information without unnecessary difficulties.</p> 
        <p>While every effort is made to ensure accuracy, the content is for general informational purposes and should not replace professional medical advice.</p>
    </div>

    <div class="disclaimer-div">
        <p class="disclaimer">NOTE: The information provided on this website is for general informational purposes only and is <strong class="red-colour">NOT INTENDED AS MEDICAL ADVICE</strong>. </p>
        <p class="disclaimer">Dosages may vary between individuals (due to age, weight, medical conditions, and other medications). If you have any doubts or queries, please <strong class="red-colour">CONSULT A QUALIFIED HEALTHCARE PROFESSIONAL</strong>.</p> 
    </div>

    <div class="about-me-box">
        <div class="personal-info"></div>
        <div class="background"></div>
        <div class="hobby-box">
    </div>

    <div class="why-box">
        <div class="motivations-box"></div>
        <div class="goals-box"></div>
    </div>
    
    <div class="contact-me-box">
        
    </div>
    
</div>
{% endblock content %}