{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container-fluid about-me">
    

    <div class="about-me-box">
        <h1 class="bread">Because bread tastes better than key</h1>
        <div class="personal-info"></div>
        <div class="background"></div>
        <div class="hobby-box">
    </div>

    <div class="why-box">
        <div class="motivations-box"></div>
        <div class="goals-box"></div>
    </div>
    
    <div class="contact-me-box">
        
    </div>
    
</div>
{% endblock content %}