{% extends "base.html" %}

{% block title %}Instructions{% endblock %}

{% block content %}
<div class="instruction-div">
    <p class="instruction-p">
        Here are some directions related to the page if you are confused!
    </p>
    <p class="instruction-p">
        At the top you will see the navigation bar. <strong class="red-colour">Search</strong> brings you to the main search page where you can find any registered medications in Singapore. 
        <strong class="red-colour">Medicine</strong> has a table that lists the medications that have had additional information with regards to their dosage, side effects, and drug interactions added to them.
    </p>
    <p class="instruction-p">
        NOTE: The information provided on this website is for general informational purposes only and is <strong class="red-colour">NOT INTENDED AS MEDICAL ADVICE</strong>. 
        Dosages may vary between individuals (due to age, weight, medical conditions, and other medications). If you have any doubts or queries, please <strong class="red-colour">CONSULT A QUALIFIED HEALTHCARE PROFESSIONAL</strong>.
    </p>
</div>
{% endblock %}