{% extends "base.html" %}

{% block title %}Instructions{% endblock %}

{% block content %}
<div class="instruction-div">
    <p class="instruction-p">
        How to Use!
    </p>
    <p class="instruction-p">
        Search for a medication using its product name (eg. for paracetamol, search panadol instead) in the search bar. The product name can usually be found at the back of the blister pack!
    </p>
    <p class="instruction-p">
        If you cant find it, you can type the product name/active ingredient and enter, bringing you to a list of medication with that active ingredient/name
    </p>
    <p class="instruction-p">
        Side effects are just POSSIBLE side effects that you should look out for in case it happens, and most are rare please do not be afraid. 
    </p>
    <p class="instruction-p">
        Contraindications is for those who should not be taking the medication or seek medical advice from a professional healthcare individual first. 
    </p>
    <div class="disclaimer-div">
        <p class="disclaimer">NOTE: The information provided on this website is for general informational purposes only and is <strong class="red-colour">NOT INTENDED AS MEDICAL ADVICE</strong>. </p>
        <p class="disclaimer">Dosages may vary between individuals (due to age, weight, medical conditions, and other medications). If you have any doubts or queries, please <strong class="red-colour">CONSULT A QUALIFIED HEALTHCARE PROFESSIONAL</strong>.</p> 
    </div>
</div>
{% endblock %}